*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}
.upper-tab{
  background-color: rgb(26,49,41);
}

.upper-div{
  display: flex;
  border: 1px solid white;
  background-color: rgb(44,84,70);
  width: 100%;
  padding-top: 8px;
  height: 40px;
  justify-content: center;
}
.upper-div  p{
  margin: 0px 13px;
  color: white;
}
.upper-div img{
  width: 20.49px;
  height: 20.49px;
}
.navigation{
  display: flex;
  justify-content: space-between;
  background-color: rgb(26,49,41);
  height: 77px;
}
.navigation .nav-header{
  display: flex;
  margin: 21.5px 80px;
}
.navigation .nav-header img{
  width: 40px;
  height: 40px;
}
nav{
  padding: 12px 24px;
  margin: 16px 0;
  margin-right: -320px;
}
.navigation nav ul{
  display: flex;
}
.nav-header h1{
  color: white;
}
 nav li{
  list-style: none;
  padding: 0 15px;
}
.navigation nav ul li a{
  text-decoration: none;
  color: white;
}
.button button{
  color: black;
  background-color: rgb(203,234,123);
  border: none;
  padding: 12px 16px;
  border-radius: 6px;
  margin: 16px 80px;
}
.main-button{
  padding: 14px 16px;
  border: none;
  background-color: rgb(203,234,123);
  color: black;
  border-radius: 6px;
  margin-top: 40px;
  margin-right: 20px;
}
.Bigscreen{
  display: flex;
}

.Bigscreen h3{
  font-size: 22px;
  margin-bottom: 25px;
}
.sider-text{
  margin-left: 80px;
  margin-top: 90px;
}
.Bigscreen hr{
  width: 400px;
  color: rgb(203,234,123);
  height: 3px;
}
.line{
  height: 5px;
  width: 315px;
  background-color: rgb(203,234,123);
  border-radius: 5px;
  margin-top: -15px;
  margin-bottom: 10px;
}
.customer-div img{
  width: 30px;
  height: 30px;
  border-radius: 53px;
  margin-left: 30px;
  margin-top: 4px;
}
.locate{
  margin-top: 78px;
}
.customer-div{
  display: flex;
  align-items: center;
  margin-top: -20px;
}
.pictures{
  border: 1px solid burlywood;
  width: 89px;
  border-radius: 30px;
  height: 40px;
}
.customer-p{
margin-left: 20px;
margin-bottom: 19px;
}
.customer-p span{
  color: #468671;
  font-weight: 500;
}
.first-feature img{
  width: 38px;
  height: 38px;
  border: 1px solid rgb(203,234,123);
  border-width: 6px;
  border-radius: 6px;
  background-color: rgb(203,234,123);
}
.last-feature img{
  width: 38px;
  height: 38px;
  border: 1px solid rgb(203,234,123);
  border-width: 6px;
  border-radius: 6px;
  background-color: rgb(203,234,123);
}
.first-feature .pic-and-t{
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 40px;
}
.last-feature .pic-and-t{
  display: flex;
  align-items: center;
  margin-left: 50px;
  margin-top: 40px;
}
.pic-and-h h3{
  margin-left: 14px;
}
.pic-and-t h3{
  margin-left: 14px;
}
.pic-and-h{
  padding: -30px 50px;
  margin-left: 50px;
  margin-top: 43px;
  display: flex;
}
.pic-and-t{
  padding: -30px 50px;
}
.para{
  width: 683px;
}
.pic-and-h3 img{
  border-width: 8px;
}
.pic-and-t3 img{
  border-width: 8px;
}
.pic-and-h2 img{
  border-width: 8px;
}
.pic-and-t2 img{
  border-width: 8px;
}
.first-feature{
  border: 1px solid #E5F5BD;
  background-color: #E5F5BD;
  border-radius: 12px;
  width: 630px;
  height: 200px;
  margin: 30px 10px;
  margin-left: 60px;
  padding-right: -50px;
}
.last-feature{
  border-radius: 12px;
  background-color: #E5F5BD;
  border: 1px solid #E5F5BD;
  width: 630px;
  height: 200px;
  margin: 30px 10px;
  padding-right: 20px;
}
.para{
  padding: 24px 50px;
}
.features{
  display: flex;
}
.features h1{
  margin-top: 150px;
  margin-left: 463;
}
.features-head{
  margin: 0px 340px;
  margin-top: 150px;
  margin-bottom: 80px;
}
.features-head h1{
  margin-left: 300px;
  margin-bottom: 10px;
}
.features-head p{
  width: 770px;
}
.testimons{
  display: flex;
  margin-left: 130px;
}
.test p{
  padding: 20px 30px;
}
.test .comments{
  width: 32.1px;
  height: 25.88px;
  margin: 20px 30px;
}
.testims{
  margin-left: 162px;
  margin-top: 120px;
  padding-left: 162px;
  margin-bottom: 80px;
}
.testims h1{
  padding-left: 230px;
  margin-bottom: 10px;
}
.plans{
  margin-left: 68px;
  display: flex;
}
.plan-head h1{
  margin: 15px 18px;
}
.plan-head p{
  margin-bottom: 20px;
  margin-left: 17px;
}
.desc{
  width: 390px;
  margin: 3px 8px;
}
.choose{
  margin-left: 20px;
}

.choose button{
  margin-top: 27px;
  background-color: #CBEA7B;
  border: none;
  width: 370px;
  height: 38px;
  padding-top: 4px;
  font-weight: 700;
  margin-bottom: 12px;
  border-radius: 8px;
}
.choose p{
  font-size: 50px;
  font-weight: 600;
  color: #2C5446;
}
.choose span{
  font-size: 18px;
}
.f{
  height: 310px;
}
.plan-whole{
  background-color: #F6FBE9;
  margin-right: 20px;
  border-radius: 12px;
}
.pricing{
  margin-left: 100px;
}
.pricing p{
  margin-left: 200px;
}
.pricing h1{
  margin-top: 150px;
  margin-left: 500px;
  margin-bottom: 10px;
}
.pricing span{
  display: block;
  margin-left: 180px;
  margin-bottom: 80px;
}
.twobutts{
  margin-left: 500px;
  width: 200px;
  border-radius: 8px;
  padding: 4px 8px;
  display: flex;
  border: 1px solid black;
}
.twobutts button{
  padding: 10px 24px;
  font-weight: 500;
  border: none;
  border-radius: 6px;
}
.active{
  background-color: #234338;
  color: white;
}
.inactive{
  background-color: white;
}
.hims{
  padding-left: 330px;
  padding-top: 14px;
  padding-bottom: 50px;
}
.nav2 .button{
  display: none;
}
.footer{
  margin-bottom: 30px;
}
.footer .button button{
  background-color: rgb(26,49,41);
  border: none;
  margin-left: -412px;
  margin-top: 18px;
  font-size: 15px;
  font-weight: 400;
  color: white;
}
.footer .button button:hover{
  cursor: pointer;
}
.footer nav{
  margin-right: 200px;
}
.footer .miss{
  list-style: none;
  position: absolute;
  top: 4934px;
  left: 1295px;
}
.footer .miss:hover{
  cursor: pointer;
}
.footer .miss i{
  color: white;
  font-size: 35px;
  margin: 6px;
  border-radius: 19px;
  background-color: #234338;
}

.lowerfoot{
  display: flex;
  margin: 0px 60px;
  color: white;
  padding: 16px 20px;
  border-radius: 8px;
  background-color: #234338;
}
.lowerfoot li{
  list-style: none;
}
.lowerfoot i{
  color: #CBEA7B;
  font-size: 30px;
}
.lowerfoot div{
  display: flex;
  align-items: center;
  margin-right: 20px;
  border: 1px solid white;
  padding: 3px 6px;
  border-radius: 6px;
}
.lowerfoot div p{
  margin-left: 8px;
}
.wholefoot{
  background-color: #1A3129;
  padding-bottom: 29px;
}
.wholepricing{
  margin-bottom: 150px;
}
.lastp{
  margin-top: 10px;
  margin-left: 300px;
  font-weight: 200;
}
.choose span{
  margin-bottom: 6px;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
